
{{> navbar}}


<div class="container-fluid">
  <div class="row">
   <div class="col-md-6">
  <header class="jumbotron">
    <div class=container></div>
    <h2>Hello {{currentUser.username}}</h2>
    <h4>Welcome to your recipe dashboard </h4>
    <p>
      <a class="btn btn-primary btn-small" href="/{{currentUser.username}}/recipes/dashboard">Search For Recipes</a>
    </p>
  </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap">
    {{#each recipe}}
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img src="{{image}}" alt="Recipe Pic">
        <div class="caption">
          <h4>
            {{name}}
          </h4>
          <h5>
            Ingredients
          </h5>
          {{!-- recipe.ingredients is an array of ingredient objects with text as a key --}}
          {{#each ingredients}}
          <ul>
            <li class="ingList" style="background-color:aquamarine">{{this}}</li>
          </ul>
          {{/each}}
        </div>
      </div>
    </div>
   {{/each}}
  </div>

</div>

<div class="col-md-6">
<div class="row" id="gotItRow">
<header class="jumbotron">
    <div class=container></div>
    <h2>Hello {{currentUser.username}}</h2>
    <h4>Welcome to Your Pantry </h4>
    
  
    
      
        {{#each ingredient}}
        {{#if inStock }}
        <div class="col-md-3 col-sm-6"></div>
        <ul>
       <li class="ingList" style="background-color:aquamarine; max-width: 50%"><h5>{{name}}</h5>
       <form id="buttonDesign" action="/ingredients/{{this._id}}?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
     </li>
     </ul>
     {{/if}}
    {{/each}}
  
    
      <p>
      <a class="btn btn-primary btn-small" href="/{{currentUser.username}}/recipes/dashboard">Search For Recipes</a>
    </p>
  </header>
  <div class="row text-center" style="display:flex; flex-wrap:wrap">
  
    <div class="col-md-3 col-sm-6">
  </div>
  </div>
</div>

<div class="row" id="needItRow">
<header class="jumbotron">
    <div class=container></div>
    <h2>Hello {{currentUser.username}}</h2>
    <h4>Heres Your Shopping List</h4>
    <p>
      <a class="btn btn-primary btn-small" href="/{{currentUser.username}}/recipes/dashboard">Search For Recipes</a>
    </p>
  </header>
  <div class="row text-center" style="display:flex; flex-wrap:wrap">
  
    <div class="col-md-3 col-sm-6">
  </div>
  </div>
</div>

</div>

</div>

{{> footer}}



